Django==4.2.16
python-telegram-bot==21.6
psycopg2-binary==2.9.9
python-decouple==3.8
django-jazzmin==3.0.0
Pillow==10.4.0
whitenoise==6.7.0
gunicorn==22.0.0
django-jalali==5.0.0
asgiref==3.8.1
httpx==0.27.2
